---
layout: default
---

{% assign date = page.event-date %}
{% assign month = date | date: "%-m" | minus: '1' %}
{% assign monthname = site.monthnames[month] %}
{% assign weekday = date | date: "%-w" | minus: '1' %}
{% assign weekdayname = site.weekdays[weekday] %}

  <div id="post">
    <h2>Treffen am {{ date | date: '%e.' }} {{ monthname }}</h2>

    <p>
      Dieses Treffen fand am <em>{{ weekdayname }}</em>,
      den <strong>{{ date | date: "%e." }} {{ monthname }} {{ date | date: "%Y" }}</strong>
      um <strong>{{ date | date: "%H" }} Uhr</strong>
      {{ page.location-text }} statt.
    </p>

    <h3 id="themen">Themen</h3>

    <p>Wir hatten folgende Vorträge für euch organisiert:</p>

    {{ content }}
  </div>
